body {
    background-image: url('model2.png');
    background-repeat: no-repeat;
}
#headPerso {
    background-color: #9cbcb0;
    width: 500px;
    padding: 10px;
    margin: 140px auto;
    text-align: center;
}